.product {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 120vh;
        padding-bottom: 20rem;
        margin: 4rem;
        position: relative;
    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        justify-content: center;
        width: 100%;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: 0 0;
        transition: 1s;
        animation: fade-in 1s ease-in forwards;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 80vh;
        }
    }

    &__information {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    &__title {
        font-size: 2rem;
        margin: 0;
    }

    &__price {
        font-size: 1.5rem;
    }

    &__description {
        max-height: 40vh;
        overflow-y: scroll;

    }

    &__gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 10rem 0 6rem;

        &-image {
            max-height: 30rem;
            max-width: 30rem;
            width: fit-content;
            height: fit-content;
            cursor: pointer;

            &-modal {
                height: 70vh;
                width: auto;
                max-width: 90vw;
                transition: .2s;
                opacity: 0;
                animation: fade-in .2s ease-in forwards;

                &-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }

                &-arrow-left {
                    position: absolute;
                    left: 0;
                    color: #c0c0c0;
                    font-size: 2rem;
                    cursor: pointer;
                    transition: .2s;
                    padding: 1rem;
                    height: 100%;
                    place-content: center;
                    z-index: 2;

                    &:hover {
                        color: #5D8C8C;
                    }
                }

                &-arrow-right {
                    position: absolute;
                    right: 0;
                    color: #c0c0c0;
                    font-size: 2rem;
                    cursor: pointer;
                    transition: .2s;
                    padding: 1rem;
                    height: 100%;
                    place-content: center;
                    z-index: 2;

                    &:hover {
                        color: #5D8C8C;
                    }
                }
            }

            &-wrapper {}
        }
    }
}

@media only screen and (max-width: 640px) {
    .product {
        &__container {
            margin: 1rem;
            // padding-top: 3rem;
        }

        &__wrapper {
            margin: .5rem 0 0;
        }

        &__row {
            flex-direction: column;
            width: 90vw;
            margin: auto;
            gap: 2rem;
        }

        &__image {
            &-wrapper {
                width: 100%;
                height: auto;
            }
        }

        &__title {
            margin: 0 0 .5rem;
        }

        &__price {
            margin: .5rem 0 1rem;
        }

        &__information {
            width: 100%;
            gap: 1rem;
        }

        &__gallery {
            margin: 5rem 0 1rem;

            &-image {
                max-width: 90vw;
                max-height: 75vh;
            }
        }
    }
}