.pdf {
  &__container {
    padding: 1rem 0 20rem 1rem;
    transition: .3s;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__viewer {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;

    &-container {
      margin: 3rem 0 0 0;
      position: relative;
      display: flex;
      gap: 4rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      // width: 700px;
      align-self: center;
      animation: fade-in 1s ease-in;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }

  &__controls {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    &-arrow-left {
      position: absolute;
      left: 0;
      color: #c0c0c0;
      font-size: 2rem;
      cursor: pointer;
      transition: .2s;
      height: 100%;
      place-content: center;
      z-index: 2;
      border: none;
      outline: none;
      background: transparent;

      &:hover {
        color: #5D8C8C;
      }
    }

    &-arrow-right {
      position: absolute;
      right: 0;
      color: #c0c0c0;
      font-size: 2rem;
      cursor: pointer;
      transition: .2s;
      height: 100%;
      place-content: center;
      z-index: 2;
      border: none;
      outline: none;
      background: transparent;

      &:hover {
        color: #5D8C8C;
      }
    }

      &-language {
        position: absolute;
        right: .5rem;
        top: .5rem;
        color: #a4a4a4;
        font-size: 1rem;
        cursor: pointer;
        transition: .2s;
        z-index: 2;
        border: none;
        outline: none;
        background: transparent;

        &:hover {
          color: #5D8C8C;
        }
      }
    }
  }

  @media only screen and (max-width: 640px) {
    .pdf {
      &__container {
        height: 90vh;
        padding: 1rem 0 20rem 0;
      }
    }
  }