@import '../../app/home/home.scss';
@import '../../app/policy/privacy.scss';
@import '../../app/about/about.scss';
@import '../../app/contact/contact.scss';
@import '../../app/post/postviewer.scss';
@import '../../app/blog/blog.scss';
@import '../../app/login/login.scss';
@import '../../app/search/search.scss';
@import '../../app/subscribe/subscribe.scss';
@import '../../app/editor/posteditor.scss';
@import '../../app/bespoken/bespoken.scss';
@import '../../app/notifications/notifications.scss';
@import '../../app/store/store.scss';
@import '../../app/product/product.scss';
@import '../../app/store/edit/editstore.scss';

.page {
    &__container {
        position: relative;
        min-height: 100vh;
        overflow: hidden;
        padding: 4rem 0 8rem 0;
    }

    &__header {
        align-self: center;
        text-align: center;

        &-title {
            font-size: 1.2rem;
            font-weight: normal;
            padding: 1rem 0;
            border-bottom: 1px solid gray;
            width: fit-content;
            margin: 0 auto;
            animation: move-y-up .7s ease-in;
            font-family: "Playfair Display", serif;

            &-blog {
                animation: move-y-up .7s ease-in;
                font-size: 2rem;
                margin: 0 0 .5rem 0;
                font-family: "Playfair Display", serif;
            }
        }

        &-subtitle {
            font-size: 1rem;
            padding-bottom: 1.5rem;
            width: fit-content;
            margin: 1rem auto 0 auto;
            animation: move-y-down .7s ease-in;

            &-blog {
                margin: 0;
                color: #a5a5a5;
                font-size: 1.5rem;
                font-weight: normal;
                font-family: "Lora", serif;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .page {
        &__wrapper {
            padding-top: 5rem;
        }
    }
}